<!DOCTYPE html>
<html lang="fr" class="h-full bg-white">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="h-full bg-gray-100 flex flex-col items-center justify-center min-h-screen">
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <h2 class="mb-5 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Créer un compte</h2>

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="mb-4">
                        {% for category, message in messages %}
                            <li class="text-red-500">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <form class="space-y-4" method="POST" action="/register">
                <div>
                    <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Adresse e-mail <span class="text-red-500">*</span></label>
                    <div class="mt-1">
                        <input id="email" name="email" type="email" required class="block px-3 w-full rounded-md border-0 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>

                <div>
                    <label for="username" class="block text-sm font-medium leading-6 text-gray-900">Nom d'utilisateur <span class="text-red-500">*</span></label>
                    <div class="mt-1">
                        <input id="username" name="username" type="text" required class="block px-3 w-full rounded-md border-0 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>

                <div>
                    <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Mot de passe <span class="text-red-500">*</span></label>
                    <div class="mt-1">
                        <input id="password" name="password" type="password" required class="block px-3 w-full rounded-md border-0 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>

                <div>
                    <label for="recheck_password" class="block text-sm font-medium leading-6 text-gray-900">Confirmer le mot de passe <span class="text-red-500">*</span></label>
                    <div class="mt-1">
                        <input id="recheck_password" name="recheck_password" type="password" required class="block px-3 w-full rounded-md border-0 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>

                <div>
                    <button type="submit" class="flex mt-7 w-full justify-center rounded-md bg-indigo-600 px-3 py-2.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Créer le compte</button>
                </div>
            </form>

            <p class="mt-7 text-center text-sm text-gray-500">
                Vous avez déjà un compte ?
                <a href="/login" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Connectez-vous maintenant !</a>
            </p>
        </div>
    </div>
</body>
</html>
